<section style="background-color: black">
  <div class="main-screen">
    <!-- buttons Home, About, Services, Projects, TEAM, Clients -->
    <div class="main-screen-buttons">
      <button class="main-screen-button">HOME</button>
      <button class="main-screen-button">ABOUT</button>
      <button class="main-screen-button">SERVICES</button>
      <button class="main-screen-button">PROJECTS</button>
      <button class="main-screen-button">TEAM</button>
      <button class="main-screen-button">CLIENTS</button>
    </div>

    <div class="main-header">
      <!-- Our Team -->
      <h1 class="main-header-text">Our Team</h1>
    </div>
  </div>

  <div class="screen">
    <div class="second-screen-image">
      <img src="../assets/images/Bitmap-1.png" alt="Black guy" />
      <div class="second-screen-image-overlay">
        <div class="overlay-context">
          <h2>Jad Al Saghir</h2>
          <p class="overlay-context-p">CEO Founder</p>
          <p class="overlay-context-lorem">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
            repudiandae aspernatur dolores reprehenderit quidem laudantium quasi
            dolor, unde odit quam quos at officiis exercitationem saepe magni ut
            hic nesciunt mollitia.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="screen">
    <div class="third-screen-image">
      <img src="../assets/images/guy2.png" alt="white guy " />
      <div class="third-screen-image-overlay">
        <div class="overlay-context">
          <h2>Jad Al Saghir</h2>
          <p class="overlay-context-p">Senior Architect</p>
          <p class="overlay-context-lorem">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
            repudiandae aspernatur dolores reprehenderit quidem laudantium quasi
            dolor, unde odit quam quos at officiis exercitationem saepe magni ut
            hic nesciunt mollitia.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="screen">
    <div class="fourth-screen-image">
      <img src="../assets/images/woman1.png" alt="woman" />
      <div class="fourth-screen-image-overlay">
        <div class="overlay-context">
          <h2>Jad Al Saghir</h2>
          <p class="overlay-context-p">Senior Architect</p>
        </div>
      </div>
    </div>
  </div>

  <div class="screen">
    <div class="fith-screen-image">
      <img src="../assets/images/guy3.png" alt="white guy 2" />
      <div class="fith-screen-image-overlay">
        <div class="overlay-context">
          <h2>Jad Al Saghir</h2>
          <p class="overlay-context-p">Senior Architect</p>
        </div>
      </div>
    </div>
  </div>

  <div class="join-team">
    <div class="join-team-header-container">
      <h2 style="padding-top: 3rem">Join Our Team</h2>
    </div>
    <p
      style="
        margin-top: 1rem;
        width: 30%;
        line-height: 2rem;
        color: gray;
        font-weight: bold;
      "
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas vel cum
      deserunt. Aperiam amet sapiente temporibus dignissimos maiores vitae
      incidunt necessitatibus, officiis reiciendis numquam dolore? Odit aut
      quasi aliquid esse!
    </p>
    <!-- labels with inputs -->
    <span style="display: flex; flex-direction: column">
      <label for="">Position</label>
      <input style="width: 80%" type="text" name="" id="" />
    </span>
    <span style="display: flex; flex-direction: column">
      <label for="">Position</label>
      <input style="width: 80%" type="text" name="" id="" />
    </span>
    <span style="display: flex; flex-direction: column">
      <label for="">Position</label>
      <input style="width: 80%" type="text" name="" id="" />
    </span>
    <span style="display: flex; flex-direction: column">
      <label for="">Position</label>
      <input style="width: 80%" type="text" name="" id="" />
    </span>

    <button
      style="
        margin-top: 1rem;
        width: 30%;
        height: 3rem;
        background-color: black;
        color: white;
        border: none;
        border-radius: 5px;
        font-weight: bold;
      "
    >
      Send
    </button>
  </div>

  <div class="footer">(ma ba2a ele khele2 nor is there any more time)</div>
</section>
